.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 24px;
}

.header__logo {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0.8px;
}

.file-input {
  display: none;
}

.file-placeholder {
  display: inline-block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload-btn {
  margin-left: 10px;
}

.submit-btn {
  margin-left: 16px;
}
